.title {
  font-size: 36px;
  letter-spacing: 0.375em;
  color: dodgerblue;
  text-align: center;
  margin: 20px auto;
  width: 50%;
  height: 50px;
  background-color: yellow;
  padding: 50px auto;
  font-family: "Nerko One", cursive;
  border-radius: 5px;
}
